**Dictionaries ----> Keys:Values**

In [2]:
student = {'Name':'Golu', 'Age':18, 'Courses':['Math','Art']}
student

{'Age': 18, 'Courses': ['Math', 'Art'], 'Name': 'Golu'}

In [12]:
print(student['Name'])
print(student['Courses'])
print(student.get('Courses'))
print(student.get('phone'))
print(student.get('phone','Not-Found'))

Golu
['Math', 'Art']
['Math', 'Art']
None
Not-Found

In [13]:
student['Phone'] = '9880762345'
print(student)

{'Name': 'Golu', 'Age': 18, 'Courses': ['Math', 'Art'], 'Phone': '9880762345'}

In [14]:
# Update Name
student['Name'] = 'Madhu'

In [15]:
print(student)

{'Name': 'Madhu', 'Age': 18, 'Courses': ['Math', 'Art'], 'Phone': '9880762345'}

In [18]:
student.update({'Name':'Vandu','Age':33,'Phone': '555-5555'})
print(student)

{'Name': 'Vandu', 'Age': 33, 'Courses': ['Math', 'Art'], 'Phone': '555-5555'}

In [21]:
student['Age'] = 33

In [22]:
print(student)

{'Name': 'Vandu', 'Courses': ['Math', 'Art'], 'Phone': '555-5555', 'Age': 33}

In [23]:
del student['Age']
print(student)

{'Name': 'Vandu', 'Courses': ['Math', 'Art'], 'Phone': '555-5555'}

In [26]:
student['Age'] = 33
print(student)

{'Name': 'Vandu', 'Courses': ['Math', 'Art'], 'Phone': '555-5555', 'Age': 33}

In [27]:
Age = student.pop('Age')
print(student)
print(Age)

{'Name': 'Vandu', 'Courses': ['Math', 'Art'], 'Phone': '555-5555'}
33

In [28]:
print(len(student))

3

In [31]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['Name', 'Courses', 'Phone'])
dict_values(['Vandu', ['Math', 'Art'], '555-5555'])
dict_items([('Name', 'Vandu'), ('Courses', ['Math', 'Art']), ('Phone', '555-5555')])

In [36]:
for key,value in student.items():
  print(key, value)

Name Vandu
Courses ['Math', 'Art']
Phone 555-5555