**Functions**

In [34]:
def hello_func():
  pass

In [35]:
print(hello_func())
print(hello_func)

None
<function hello_func at 0x7f5c38bdd730>

In [36]:
def hello_func():
  print('Hello')
hello_func()
print('Hello')
print('Hello!')
print('Hello!')
print('Hello!')

Hello
Hello
Hello!
Hello!
Hello!

In [37]:
def hello_func():
  return 'Hello'
print(hello_func())
print(hello_func().lower())

Hello
hello

In [38]:
def hello_fun(greeting):
  return '{}.Function'.format(greeting)
print(hello_fun('Hi'))

Hi.Function

In [39]:
def hello_fun(greeting, name = 'Anirudh'):
  return'{},{}'.format(greeting, name)

hello_fun('Hi')

'Hi,Anirudh'

In [40]:
def hello_fun(greeting, name = 'you'):
  return'{},{}'.format(greeting, name)

hello_fun('Hi', name = 'Chakri')

'Hi,Chakri'

In [41]:
def student_info(*args, **kwargs):   # args---> gives output in tuple, kwargs---> gives output in dictionary
  print(args)
  print(kwargs)

student_info('Math', 'Art', name = 'Ani', age = 30)

('Math', 'Art')
{'name': 'Ani', 'age': 30}

In [42]:
courses = ['Math', 'Art']
info = {'name':'Ani', 'age':30}

print(student_info(courses, info))

(['Math', 'Art'], {'name': 'Ani', 'age': 30})
{}
None

In [43]:
courses = ['Math', 'Art']
info = {'name':'Ani', 'age':30}

student_info(*courses, **info)

('Math', 'Art')
{'name': 'Ani', 'age': 30}

In [44]:
# Find Leap Year
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

def is_leap(year):
  """Return True for Leap year and False for Non-Leapy ear"""
   

  return year % 4 == 0 and (year % 100 != 0  or year % 400 == 0 )

def days_in_month(year, month):
  """Return no of days in that month in that year"""

  if not 1<= month <= 12:
    return 'Invalid month'

  if month == 2 and is_leap(year):
    return 29

  return month_days[month]

print(is_leap(2020))
print(days_in_month(2017,2))

True
28

In [45]:
# Square of numbers
def square(num):
  return num*num
print(square(4))
print(square(5))

16
25

In [49]:
# Number is Even or Odd
def even_odd(num):
  if num % 2 == 0:
    print(num,"is EvenNumber")
  else:
    print(num,'is OddNumber')
even_odd(40)
even_odd(23)

40 is EvenNumber
23 is OddNumber

In [50]:
# factorial of Given numbers
def fact(num):
  result = 1
  while num>=1:
    result=result*num
    num=num-1
  return result
for i in range(1,5):
  print('the Factorial of',i,'is',fact(i))

the Factorial of 1 is 1
the Factorial of 2 is 2
the Factorial of 3 is 6
the Factorial of 4 is 24

In [57]:
# Return multiple values from a function
def sum_sub(a,b):
  sum = a+b
  sub = a-b
  return sum,sub
x,y = sum_sub(10,20)
print('The sum is',x)
print('The sub is',y)

The sum is 30
The sub is -10

In [60]:
def cal(a,b):
  sum = a+b
  sub = a-b
  mul = a*b
  div = a/b
  return sum,sub,mul,div
t = cal(30,10)
print('The results are')
for i in t:
  print(i)

The results are
40
20
300
3.0

In [62]:
# Positional arguments ---> Arguments passed to function in correct proportional order

def sub(x,y):
  print(x-y)

sub(100,200)
sub(600,300)

-100
300

In [64]:
# Keyword arguments ---> We can pass argument value by key word
def wish(name,msg):
  print('Hello!',name,msg)

wish(name='Anrudh',msg='Good Evening')
wish(msg='Good Evening', name='Anirudh')

Hello! Anrudh Good Evening
Hello! Anirudh Good Evening

In [67]:
# Positional and Keyword argument ----> Here in this case we need to take positional argument followed by keyword 
def wish(name,msg):
  print('Hello!',name,msg)

wish(name='Anirudh', msg='Good mng') # valid
wish('Anirudh',msg='Good mng') # valid
#wish(name='Anirudh, 'Good mng') # invalid

Hello! Anirudh Good mng
Hello! Anirudh Good mng

In [68]:
# Default Arguments
def wish(name='Guest'):
  print('Hello',name,'Good mng')

wish('Vandu')
wish()

Hello Vandu Good mng
Hello Guest Good mng

In [70]:
# Variable length argument
def sum(*n):
  total = 0
  for n1 in n:
    total = total+n1
  print('The sum', total)

sum()
sum(10,20)
sum(100,200,30)
sum(140,134,155,166)

The sum 0
The sum 30
The sum 330
The sum 595

In [81]:
# Global Variable
a=10
def f1():
  print(a)

def f2():
  print(a)

f1()
f2()

10
10

In [83]:
# Local variable
def f1():
  a=20
  print(a)

f1()

20

In [86]:
# Global keyword
a = 20
def f1():
  a = 200 # global keyword
  print(a)

def f2():
  print(a)

f1()
f2()

200
20

In [88]:
def f1():
  global a
  a = 10
  print(a)

def f2():
  print(a)

f1()
f2()

10
10

In [91]:
# Factorial of given Number with Recursion
def factorial(n):
  if n==0:
    result=1
  else:
    result=n*factorial(n-1)
  return result
print('The factorial of 4 is:', factorial(4))
print('The factorial of 4 is:', factorial(5))

The factorial of 4 is: 24
The factorial of 4 is: 120

In [93]:
# Lambda Function
s = lambda n:n*n
print('the square of 4 is:', s(4))
print('the square of 4 is:', s(5))
print('the square of 4 is:', s(6))

the square of 4 is: 16
the square of 4 is: 25
the square of 4 is: 36

In [96]:
# sum of two numbers
s = lambda a,b:a+b
print('The sum of two numbers is:', s(4,5))

The sum of two numbers is: 9

In [97]:
# Biggest of given values
s = lambda a,b:a if a>b else b
print('The biggest of 100,200 is:',s(100,200))

The biggest of 100,200 is: 200

In [98]:
# Filter () Function

##Even numbers from list using filter function

def is_even(x):
  if x % 2 == 0:
    print('Even')
  else:
    print('Odd')
l = [10,20,30,40,50]
l1=list(filter(is_even,l))
print(l1)

Even
Even
Even
Even
Even
[]

In [102]:
# With Lambda Function
l=[1,2,3,4,5,6,7,8,9]
l1 = list(filter(lambda x: x % 2 == 0,l))
print('The l1 result is:',l1)

l2= list(filter(lambda x:x % 2 != 0, l))
print('The l2 result is:',l2)

The l1 result is: [2, 4, 6, 8]
The l2 result is: [1, 3, 5, 7, 9]

In [103]:
# map() Function
l=[2,3,4,5]
def double(x):
  return 2*x
l1=list(map(double,l))
l1

[4, 6, 8, 10]

In [105]:
# using Lambda
l= [2,3,4,5]
l1=list(map(lambda x:2*x,l))
l1

[4, 6, 8, 10]

In [107]:
# reduce()function
from functools import reduce
l=[10,20,30,40,50]
result = reduce(lambda x,y:x+y,l)
result

150