**Functions**

In [1]:
def hello_func():
  pass

In [2]:
print(hello_func())
print(hello_func)

None
<function hello_func at 0x7f5c410b1b70>

In [3]:
def hello_func():
  print('Hello')
hello_func()
print('Hello')
print('Hello!')
print('Hello!')
print('Hello!')

Hello
Hello
Hello!
Hello!
Hello!

In [4]:
def hello_func():
  return 'Hello'
print(hello_func())
print(hello_func().lower())

Hello
hello

In [5]:
def hello_fun(greeting):
  return '{}.Function'.format(greeting)
print(hello_fun('Hi'))

Hi.Function

In [6]:
def hello_fun(greeting, name = 'Anirudh'):
  return'{},{}'.format(greeting, name)

hello_fun('Hi')

'Hi,Anirudh'

In [7]:
def hello_fun(greeting, name = 'you'):
  return'{},{}'.format(greeting, name)

hello_fun('Hi', name = 'Chakri')

'Hi,Chakri'

In [8]:
def student_info(*args, **kwargs):   # args---> gives output in tuple, kwargs---> gives output in dictionary
  print(args)
  print(kwargs)

student_info('Math', 'Art', name = 'Ani', age = 30)

('Math', 'Art')
{'name': 'Ani', 'age': 30}

In [9]:
courses = ['Math', 'Art']
info = {'name':'Ani', 'age':30}

print(student_info(courses, info))

(['Math', 'Art'], {'name': 'Ani', 'age': 30})
{}
None

In [10]:
courses = ['Math', 'Art']
info = {'name':'Ani', 'age':30}

student_info(*courses, **info)

('Math', 'Art')
{'name': 'Ani', 'age': 30}

In [33]:
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

def is_leap(year):
  """Return True for Leap year and False for Non-Leapy ear"""
   

  return year % 4 == 0 and (year % 100 != 0  or year % 400 == 0 )

def days_in_month(year, month):
  """Return no of days in that month in that year"""

  if not 1<= month <= 12:
    return 'Invalid month'

  if month == 2 and is_leap(year):
    return 29

  return month_days[month]

print(is_leap(2020))
print(days_in_month(2017,2))

True
28