**Class and Object**

In [1]:
class Computer:

  def config(self):   # ---> Method
    print("i5, 16gb, 1TB")
  
comp1 = Computer()  # Here comp1 is object
Computer.config(comp1)

i5, 16gb, 1TB

In [2]:
class Computer:

  def config(self):
    print("i5, 16gb, 1TB")
  
comp1 = Computer()
comp2 = Computer()

comp1.config()
comp2.config()

i5, 16gb, 1TB
i5, 16gb, 1TB

__INIT__ Method

In [3]:
class Computer:

  def __init__(self): # __INIT__ ---> used to initialize variables
      print('in init')
  def config(self):
    print('ANirudh')
    
Comp1 = Computer()
Comp2 = Computer()

Comp1.config()
Comp2.config()

in init
in init
ANirudh
ANirudh

In [4]:
class computer():

  def __init__(self, cpu, ram):
    self.cpu = cpu
    self.ram = ram

  def config(self):
    print('The config is:',self.cpu, self.ram)

comp1 = computer('i5', 16)
comp2 = computer('i6', 24)

comp1.config()
comp2.config()

The config is: i5 16
The config is: i6 24

**Constructor, Self and Comparing Objects**

In [5]:
class computer:
  pass

c1 = computer()
c2 = computer()
print(id(c1))
print(id(c2))

139672044216896
139672044216504

In [6]:
class computer:

  def __init__(self):
    self.name = 'Anirudh'
    self.age = 33

c1 = computer()
c2 = computer()

c1.name = 'Vandu'

print(c1.name)
print(c2.name)

Vandu
Anirudh

In [7]:
class computer():

  def __init__(self):
    self.name = 'Ani'
    self.age = 33

c1 = computer()
c2 = computer()

c1.name = 'Vandu'
c1.age = 33

print(c1.name,c1.age)
print(c2.name,c2.age)

Vandu 33
Ani 33

In [8]:
# Update
class computer():

  def __init__(self):
    self.name = 'Ani'
    self.age = 33
  
  def update(self):  # self acts as a pointer
    self.age =32

c1 = computer()
c2 = computer()

c1.name = 'Vandu'
c1.age = 33

c2.update()

print(c1.name,c1.age)
print(c2.name,c2.age)

Vandu 33
Ani 32

In [9]:
# Compare two objects

class computer:

  def __init__(self):
    self.name = 'Anirudh'
    self.age = 33

  def compare(self,other):
    if self.age == other.age:
      return True
    else:
      return False
  
c1 = computer()
c2 = computer()

if c1.compare(c2):
  print("They are same")

print(c1.name)
print(c2.name)

They are same
Anirudh
Anirudh

**Types of Variables**

In [10]:
class car:
  def __init__(self):
    self.mil = 10
    self.comp = 'BMW'  # Here mil, comp are instance variables

c1 = car()
c2 = car()

c1.mil = 8

print(c1.mil,c1.comp)
print(c2.mil,c2.comp)

8 BMW
10 BMW

In [11]:
class car:

  wheels = 4 # class namespace

  def __init__(self):
    self.mil = 10
    self.comp = 'BMW'  # Instance name space

c1 = car()
c2 = car()

c1.mil = 12

print(c1.mil,c1.comp,c1.wheels)
print(c2.mil,c2.comp,c2.wheels)

12 BMW 4
10 BMW 4

In [12]:
class car:

  wheels = 4 # class namespace

  def __init__(self):
    self.mil = 10
    self.comp = 'BMW'  # Instance name space

c1 = car()
c2 = car()

c1.mil = 12
car.wheels = 8

print(c1.mil,c1.comp,c1.wheels)
print(c2.mil,c2.comp,c2.wheels)

12 BMW 8
10 BMW 8

**Types of Methods**

In [13]:
class student:
  school = "LRG"
  def __init__(self,m1,m2,m3):
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

  def avg(self):  # Here Avg is instance method
    return (self.m1 + self.m2 + self.m3)/3
  

s1 = student(39,46,78)
s2 = student(45,78,98)
s3 = student(67,89,23)

print(s1.avg())
print(s2.avg())
print(s3.avg())

54.333333333333336
73.66666666666667
59.666666666666664

In [14]:
class student:
  def __init__(self,m1,m2,m3):
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3
  def avg(self):
    return (self.m1 + self.m2 + self.m3)/3
  def get_m1(self):
    return self.m1
s1 = student(12,23,34)
s2 = student(23,34,45)

print(s1.avg())

23.0

In [15]:
class student:
  def __init__(self,m1,m2,m3):
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3
  def avg(self):
    return (self.m1 + self.m2 + self.m3)/3
  def get_m1(self):  # get are Accessors
    return self.m1
  def set_m1(self,value): # set are mutators
    self.m1 = value 
s1 = student(12,23,34)
s2 = student(23,34,45)

print(s1.avg())

23.0

In [16]:
# Class Method and static Method

class student:
  school = 'LRG'
  def __init__(self,m1,m2):
    self.m1 = m1
    self.m2 = m2
  def avg(self):
    return (self.m1 + self.m2)/2

  @classmethod
  def getschool(cls):
    return cls.school

  @staticmethod
  def info():
    print("This is student class in .... abc module")
s1 = student(12,23)
s2 = student(23,34)

print(s1.avg())
print(student.getschool())
student.info()

17.5
LRG
This is student class in .... abc module

# Inner class

In [17]:
class student:
  def __init__(self,name,rollno):
    self.name = name
    self.rollno = rollno
    self.lap = self.Laptop()

  def show(self):
    print(self.name, self.rollno)
    self.lap.show()

  class Laptop:
    def __init__(self):
      self.brand = 'HP'
      self.ram = 8
      self.cpu = 'i7p'

    def show(self):
      print(self.brand,self.ram,self.cpu)



s1 = student('Ani',2)
s2 = student('Vandu',3)

s1.show()

Ani 2
HP 8 i7p

#Inheritance

In [18]:
class A:
  def feature1(self):
    print("Feature 1 is working")
  def feature2(self):
    print("Feature 2 is working")

class B():
  def feature3(self):
    print("Feature 3 is working")
  def feature4(self):
    print("Feature 4 is working")

class C(A,B):
  def feature5(self):
    print("Feature 5 is working")

a1 = A()
a1.feature1()
a1.feature2()

#b1 = B()

#c1 = C()

Feature 1 is working
Feature 2 is working

#Constructor in Inheritance

In [19]:
class A:
  def __init__(self):
    print("in A init")
  def feature1(self):
    print("Feature1 is working")
  def feature2(self):
    print("Feature2 is working")

class B(A):
  def __init__(self):
    super().__init__()
    print("in B init")
  def feature3(self):
    print("Feature3 is working")
  def feature4(self):
    print("Feature4 is working")

a1 = B()

in A init
in B init

In [20]:
class A:
  def __init__(self):
    print("in A init")
  def feature1(self):
    print("Feature1 is working")
  def feature2(self):
    print("Feature2 is working")

class B:
  def __init__(self):
    print("in B init")
  def feature3(self):
    print("Feature3 is working")
  def feature4(self):
    print("Feature4 is working")

class C(A,B):
  def __init__(self):
    super().__init__()
    print("in C init")
a1 = C()

in A init
in C init

In [21]:
class A:
  def __init__(self):
    print("in A init")
  def feature1(self):
    print("Feature1-A is working")
  def feature2(self):
    print("Feature2 is working")

class B:
  def __init__(self):
    print("in B init")
  def feature3(self):
    print("Feature1-B is working")
  def feature4(self):
    print("Feature4 is working")

class C(A,B):
  def __init__(self):
    super().__init__()
    print("in C init")   # MRO Method Resolution Order
a1 = C()
a1.feature1()

in A init
in C init
Feature1-A is working

In [22]:
class A:
  def __init__(self):
    print("in A init")
  def feature1(self):
    print("Feature1-A is working")
  def feature2(self):
    print("Feature2 is working")

class B:
  def __init__(self):
    print("in B init")
  def feature3(self):
    print("Feature1-B is working")
  def feature4(self):
    print("Feature4 is working")

class C(A,B):
  def __init__(self):
    super().__init__()
    print("in C init")

  def feat(self):
    super().feature2()
a1 = C()
a1.feat()

in A init
in C init
Feature2 is working

#Introduction to Polymorphism

In [23]:
# 1. Duck Typing
# 2. Operator Overloading
# 3. Method Overloading
# 4. MethodOverriding

## Duck Typing

In [24]:
class collab:
  def execute(self):
    print('Compiling')
    print('Running')

class Laptop:
  def code(self,ide):
    ide.execute()

ide = collab()

lap1 = Laptop()
lap1.code(ide)

Compiling
Running

In [25]:
class collab:
  def execute(self):
    print('Compiling')
    print('Running')

class MyEditor():
  def execute(Self):
    print('Spell Check')
    print('Convention check')
    print('Compiling')
    print('Rinning')
class Laptop:
  def code(self,ide):
    ide.execute()

ide = MyEditor()

lap1 = Laptop()
lap1.code(ide)

Spell Check
Convention check
Compiling
Rinning

#Operator Overloading in Python and Polymorphism

In [26]:
class student:
  def __init__(self,m1,m2):
    self.m1 = m1
    self.m2 = m2

  def __add__(self, other):
    m1 = self.m1 + other.m1
    m2 = self.m2 + other.m2
    m3 = student(m1,m2)

    return s3

s1 = student(50,69)
s2 = student(70,64)

s3 = s1 + s2

print(s3.m1)

67

In [27]:
class student:
  def __init__(self,m1,m2):
    self.m1 = m1
    self.m2 = m2

  def __add__(self, other):
    m1 = self.m1 + other.m1
    m2 = self.m2 + other.m2
    m3 = student(m1,m2)

    return s3

  def __gt__(self, other):
    r1 = self.m1 + other.m1
    r2 = self.m2 + other.m2
    if r1 > r2:
      return True
    else:
      return False

s1 = student(50,69)
s2 = student(70,64)

s3 = s1 + s2

if s1 > s2:
  print("s1 Wins")
else:
  print("s2 Wins")

s2 Wins

# Method Overloading and Method Overriding

In [28]:
class student:
  def __init__(self,m1,m2):
    self.m1 = m1
    self.m2 = m2

  def sum(self,a,b):
    s = a + b

    return s

s1 = student(30,50)

print(s1.sum(5,6))

11

In [30]:
class student:
  def __init__(self,m1,m2):
    self.m1 = m1
    self.m2 = m2

  def sum(self,a,b,c):
    s = a + b + c

    return s

s1 = student(30,50)

print(s1.sum(5,6,9))

20

In [32]:
class A:
  def show(self):
    print("in A show")
  
class B(A):
  
  def show(self):
    print("in show B")

a1 = B()
a1.show()

in show B